[2015-09-30 23:03] ghost opened #1 "NotWorking"
Tested on my account and it isnt working

[2015-11-07 13:26] neutt22 commented on #1
Hi. Can you at least show a screenshot and test dictionary text file with at least 3 passwords

[2015-11-09 15:57] c0f1 commented on #1
![screenshot from 2015-11-09 01 25 42](https://cloud.githubusercontent.com/assets/12828213/11038351/6b4a267a-86fa-11e5-8930-cba8b625dc24.png)

[2015-11-10 02:01] neutt22 commented on #1
Did you have the true password on the dictionary file?

[2015-11-10 13:22] c0f1 commented on #1
Yes ofcourse i tryed with real one.

[2015-11-11 00:43] neutt22 commented on #1
Then this software is busted. I hope the owner updates this

[2015-11-19 20:17] chinoogawa commented on #1
Is not busted, and I don't see a bug there. Can you give me additional information about what's going on?
If the password is in the dictionary file, it should work fine.

[2015-11-19 22:48] c0f1 commented on #1
Do u see screenshot its not working ...

[2015-11-20 07:19] neutt22 commented on #1
@chinoogawa  Maybe it would be a lot better if you could state the versions the library is using?

[2015-11-20 23:13] chinoogawa commented on #1
@ghost I saw the screenshot. Could you send me the dictionary? Maybe when you added the passwords to the file some weird character was added too. I've been testing the tool and is working fine.
Additionally, I'm going to write down the library version just in case.

[2015-12-05 15:49] Hugi21 opened #2 "Help Dependencies"
Hi everyone , I have an error with Dependencies please help me for solve this problem.

http://hpics.li/7f585d4

(PS:Basic I am not Python developer so do not yell at me too top)

[2015-12-06 13:48] chinoogawa commented on #2
First you need to download and install "easy_install" or "setuptools" for python.
Once you've install that, you have to set the system environment variable PATH to the setuptools folder, that way you can call the "pip" command from the CMD. Then, you have to install the dependency with the command "pip install mechanize" from the command line.

[2015-12-13 03:01] gflores123 commented on #2
i have the same problem, except i only get -
Traceback (most recent call last):
  File "instaBrute.py", line 2, in <module>
    from mainLib import *
ImportError: No module named mainLib

I have already installed easy_install/setuptools but i always get the ' importError: No module named mainLib ' i have also tried pip install mainLib , i am new to using python.. any help? thank youu :+1:

[2015-12-14 00:38] chinoogawa commented on #2
@gflores123 you should have the manLib.py script from instabrute in the same folder you have the instaBrute.py.
Please check that all the scripts for instaBrute were downloaded correctly.

[2015-12-14 00:38] #2 closed

[2015-12-15 07:43] a3lharbi opened #3 "getting problem HELP!"
when i run the script im getting this output

Trying with username: hacker
Trying with password: Passw0rd
405
Trying with password: password01
405
user: "qwerty" does not exist, trying with the next!
Trying with username: facebook
Trying with password: Passw0rd
405
Trying with password: password01
405
Trying with username: inexistente
Trying with password: Passw0rd
405
Trying with password: passwo

[2015-12-15 16:11] Nas-au commented on #3
I'm getting the same error as well!

[2015-12-15 17:30] arty0m commented on #3
have the same problem

[2015-12-17 14:16] chinoogawa commented on #3
Working on a fix! Thanks for reporting ;)

[2015-12-18 23:49] a3lharbi commented on #3
thanks for answering im gonna wait  ;) .

[2015-12-19 16:50] mehmetemek commented on #1
@chinoogawa I sent an e-mail to you. Can you check it?

[2015-12-21 18:49] Coto16 commented on #3
Same issue here, but I'll just wait for the Dev to fix it! Let us know how you're getting on with it, @chinoogawa ! :+1:  :smiley:

[2015-12-23 20:36] Coto16 commented on #3
Any updates on the Fix, @chinoogawa (Dev)? Really can't wait for this to be fixed!

[2015-12-24 15:40] chinoogawa commented on #3
Thanks for reporting! The fix has been dispatched ;) enjoy and let me know if something comes up with the new implementation.
You'll need to get the dependencies for the selenium ;)

Merry Christmas hackers!!

[2015-12-24 15:40] #3 closed

[2015-12-24 15:40] #1 closed

[2015-12-24 16:15] Coto16 opened #4 "Still not working (After Update)"
https://i.gyazo.com/d85e2e768c72a0ca8307027cb874d78b.png

When I do python instaBrute.py -u meiko_dew -d dictionary.txt it opens up a browser window, going to https://www.instagram.com/meiko_dew/ then https://www.instagram.com/accounts/login/ , tries some passwords and just displays wrong password...

[2015-12-24 16:17] Nas-au commented on #4
The same here

I tried it on Mac Os and Kali

[2015-12-24 16:21] Coto16 commented on #4
Even after doing pip install -U selenium

still displays another, wrong password...

[2015-12-24 16:23] Coto16 commented on #3
Still not working... :(

Date: Thu, 24 Dec 2015 07:40:12 -0800
From: notifications@github.com
To: instaBrute@noreply.github.com
CC: coto_dup@hotmail.com
Subject: Re: [instaBrute] getting problem HELP! (#3)

Thanks for reporting! The fix has been dispatched ;) enjoy and let me know if something comes up with the new implementation.

You'll need to get the dependencies for the selenium ;)

Merry Chr

[2015-12-24 19:20] Coto16 commented on #4
I think I found what the error is, but not sure how to fix it.

On the instaBrute.py script (Line 24-31):

def login(user, password):
	try:
		print 'Trying with password: ' + password
		elem = driver.find_element_by_name("username")
		elem.send_keys(user)
		elem = driver.find_element_by_name("password")
		elem.send_keys(password)
		elem.send_keys(Keys.RETURN)

I noticed that it opens the Web Brows

[2015-12-26 15:18] kaktoos81 opened #5 "Error"
hello
i get this error
how to fix it?
http://s6.picofile.com/file/8230007118/error.png

[2015-12-26 15:49] Coto16 commented on #5
Got skype? if so add me: iLouisy

Date: Sat, 26 Dec 2015 07:18:35 -0800
From: notifications@github.com
To: instaBrute@noreply.github.com
Subject: [instaBrute] Error (#5)

hello

i get this error

how to fix it?

http://s6picofilecom/file/8230007118/errorpng

—
Reply to this email directly or view it on GitHub.

[2015-12-26 23:52] HusamSadawi opened #6 "Web Implementation Errors"
A couple of errors I've found with the last update:
The inputs from previous trials do not get deleted, I noticed that when the login page is loaded and passwords are prompted, the program does not remove the old tried password before going to the next one, same for the username. Saying your username is "Hello", after every failed try it will just keep  typing a new "Hello" added to the previous o

[2015-12-27 00:53] Coto16 commented on #6
^ Check out my other Issue I created. Saying that exactly and provided a solution. :)

[2015-12-27 00:57] Coto16 commented on #5
Make sure you use Python 2.7 and retry. If you get another error, unrelated to the script, but its performance, that's normal. Currently working on a fix.

[2015-12-27 07:09] HusamSadawi commented on #6
Nice solution, I guess this one is easy to implement by myself, the real issue though is the browser quitting, does that happen with you? If not, what's your OS?

[2015-12-27 09:36] Coto16 commented on #6
Nope, it doesn't close. For me it opens IceWeasel and does everything wrongly without closing. Could you please send the fix for the script?

[2015-12-27 09:47] HusamSadawi commented on #6
Weird, I tried running the code on both Windows10 and Kali 2, both cases firefox/iceweasel just shuts down.
I'm more focused on fixing this issue of the browser closing for now, 'cause it's keeping the rest of the check from working.
But, since your browser doesn't work, what happens when you provide correct username and password from the first try? It should work, does it?

[2015-12-27 11:19] Coto16 commented on #6
I assume so, yeah. Have you got Skype by the way? If so, add me: iLouisy

[2015-12-27 12:09] HusamSadawi commented on #6
I did some minor edits on the code, and it's working now, some of them were optimized for my case, it seemed like the browser closes upon end of the code, which's ok, but the problem was with the wait time, apparently. I added a delay of 2 seconds between tries, which's not very good for brute forcing, but it does the trick for now. Anyways, it's attached, but it depends on your internet connectio

[2015-12-27 14:12] Coto16 commented on #6
"An error occurred while extracting the files"

[2015-12-27 14:43] Coto16 commented on #6
Could you please paste the script code on Pastebin or zip it in rar instead of .zip or something?

[2015-12-27 14:44] Coto16 commented on #6
Also, I never received a Skype request from you. Mind telling me your skype?

[2015-12-27 17:33] HusamSadawi commented on #6
Sorry for not mentioning this earlier, it's actually a rar file not a zip file, just fake extension to upload to github, change to .rar

Sent from my iPad

[2015-12-27 19:23] chinoogawa commented on #4
Hi Guys! Thanks for the data. I totally forgot to put the clear instruction on every try!!
Now i'm facing a new trouble in wich I can't determine if an account was logged in or not. The error code does not appear in the page source, so I need to get some logic clue to flag a logged in try.
Working on a fix, promise :D

[2015-12-27 19:24] chinoogawa commented on #5
@kaktoos81 as @Coto16 says, you are using python >= 3 and instaBrute works with 2.7 :)
Thanks @Coto16 for the response!

[2015-12-27 19:24] #5 closed

[2015-12-27 19:26] chinoogawa commented on #6
As @HusamSadawi says, i'm facing some timing issues in the code. When we try to verify a login, the "wrong code" legend does not appear in the page source.. So i'm looking how to fix this.
Sorry about the delay!

[2015-12-27 20:12] chinoogawa commented on #6
Okey, fixed now! Please let me know if works as it should :D if it works, i close the issue!!
Have a nice day

[2015-12-27 20:12] chinoogawa commented on #6
BTW, new options was added for timing problems! Now you can set the -t options for the delay.

[2015-12-27 20:13] chinoogawa commented on #4
Okey, fixed now! Please let me know if works as it should :D if it works, i close the issue!!
Have a nice day

[2015-12-27 20:33] Coto16 commented on #4
Looks like @HusamSadawi and I worked together to bring on a fix. But thanks to @chinoogawa for fixing the issue for everyone! :+1:  :smile:

[2015-12-27 20:38] Nas-au commented on #4
Good job , it's working but the new problem is that i got blocked after some time.
if you could make proxy list so that after 25 try the proxy changes that would be grate.
Thanks a lot @chinoogawa for your amazing peace of code and thank you all for the teamwork  :+1:

[2015-12-27 20:49] Coto16 commented on #4
Just noticed that too, thanks for the report, @Nas-au . Will be working on a fix as soon as possible.

[2015-12-27 21:03] Nas-au commented on #4
Thanks @Coto16

[2015-12-27 23:22] kaktoos81 opened #7 "error"
after run the command get me the error:

Traceback (most recent call last):
  File "instaBrute.py", line 4, in <module>
    from selenium import webdriver
ImportError: No module named selenium

i use python 2.7.9
any body help me?

[2015-12-27 23:52] Nas-au commented on #7
use the command to install selenium package

pip install selenium

[2015-12-28 00:16] #7 closed

[2015-12-28 00:17] #6 closed

[2015-12-28 00:19] chinoogawa commented on #4
Thanks @Coto16 and @Nas-au for the tips ;) I'll work on the proxy feature. The bruteforce blocking from instagram is new and recently. This tool was made for that reason jeje. Now we've to manage to bypass the new security measures !

[2015-12-28 00:19] #4 closed

[2015-12-28 08:34] kaktoos81 commented on #7
nice...
who can run this at winserver 2008?
i install python v2.7 in winserver but it not work an error accour
'python' is not recognized as an internal or external command,
operable program or batch file.

[2015-12-28 10:23] Coto16 commented on #7
I think you'll need to search this on Google as the issue is not related to the Module. Good luck!

[2016-01-01 23:20] Beroyale opened #8 "failed after 1 try"
its gives you the first password , failed

[2016-01-02 10:30] Coto16 commented on #8
There is an upcoming update coming soon. As this account-cracking method has been busted by Instagram, the Dev, @chinoogawa is working on an update, where you must import a Proxy (IP:Port) list in order for the Module to run successfully. So, all we all have to do, is just wait a little while.

[2016-01-05 18:21] Nas-au commented on #8
@Coto16 @chinoogawa  Hey guys any update on the proxy implementation to the code?

[2016-01-05 18:59] Coto16 commented on #8
@Nas-au Nope, nothing I've heard of. I'll be working on a Proxy solution now that I have seen how busy @chinoogawa is... But remember, that instaBrute was made for that reason, that they had almost no protection against bruteforcing. Looks like they have, so I need to make a Proxy implementation to the code. For more updates, add me on Skype: iLouisy

[2016-01-08 21:39] Coto16 opened #9 "~ Updates ~"
}

[2016-01-10 22:47] #9 closed

[2016-01-25 16:31] Coto16 opened #10 "Someone's gotta work on this..."
Someone's gotta work on this... I've been too tired finding alternative Websites that have weak security and are vulnerable to this method. Someone should find the way to get this Automated VPN or the feature to add Proxies into the module. That'd be great.

[2016-02-25 20:27] aleperno commented on #8
I dont promise it will be done son.

- [ ] Validate if method requires mods.
- [ ] Implement some way of proxy

[2016-02-26 15:43] Coto16 commented on #8
Agree, however, I've used this script to make numerous other things. So still, the work of the Dev didn't go a waste, not for me at least. :smile:

[2016-03-02 13:17] aleperno commented on #8
@Coto16 Could you be more specific on which error the current method has? I've made very (VERY) simple tests and seems it is still a valid method.

About proxy support, I am currently working on it, however it will not be a mod of the current version but rather a complete different approach. I wont push changes to the master branch.

[2016-03-02 14:08] Coto16 commented on #8
@aleperno From what I remember, yes, it does work for Instagram, until it it blocks you for too many tries, meaning you need to switch between proxies.

Please contact me on Skype for more Info: Null0Sec or coto993

[2016-03-04 03:04] #10 closed

[2016-03-04 03:26] aleperno commented on #8
Simple implementation at 4f3ad08b2cb955546d956a308593ebc93e2ef0c4
Requires python yaml module (pyyaml).
I included a simple example (I used tor), ports to other sockets or http proxies should be trivial.
Also note a bug to be solved, since when using a proxy the process may take longer than expected, instaBrute tries with another password before receiving the last request answer. Hence it may show

[2016-03-04 19:35] Coto16 commented on #8
Nice, nice. However, how do you import a list of IP:Port Proxies for it to change every X Seconds?

[2016-03-13 15:54] hardstyler0 opened #11 "ImportError"
mainLib.py has an import error
When I start instaBrute.py, it says:
import mechanize
ImportError: "No module named mechanize"

[2016-03-13 15:54] Coto16 commented on #11
pip install mechanize

[2016-03-13 16:19] #11 closed

[2016-03-24 14:37] Tridas opened #12 "ImportError: cannot import name GopherError"
When I try using it I get this error:

Traceback (most recent call last):
  File "instaBrute.py", line 2, in <module>
    from mainLib import *
  File "C:\Users\kevindinh\Desktop\insta\mainLib.py", line 1, in <module>
    import mechanize
  File "C:\Python27\lib\site-packages\mechanize\__init__.py", line 85, in <module>
    from _mechanize import __version__
  File "C:\Python27\lib\site-packages\m

[2016-03-24 15:51] Coto16 commented on #12
Script has been patched by Instagram - Meaning it is no longer working.

[2016-03-24 15:53] Tridas commented on #12
Oh ok, thanks

[2016-03-24 22:21] aleperno commented on #12
Whether or not the "vuln" is patched by Instagram has nothing to do with the question.
@Tridas as far as I can tell you're missing a dependency. Try executing
`pip install mechanize`
you can also run
`pip freeze`
and check which modules are currently installed.

[2016-03-24 22:21] #12 closed

[2016-03-24 22:22] #8 closed

[2016-03-24 23:07] Coto16 commented on #12
@aleperno Yes, you're correct, however I assumed that he just wanted to use the Application, solely for Instagram. I've used this program for other [brute-forcing] Automations, came pretty handy, but I doulbt that's what he wanted to do. :/

[2016-04-28 15:24] andrastime opened #13 "what version of python is this for"

[2016-04-28 15:25] Coto16 commented on #13
2.7 - However the Script no longer works due to increased security measures applied to Instagram's Login security system.

[2016-05-03 18:00] alepacheco commented on #13
@Coto16 are you sure it is not working, I have tried with my account and a small world list and it worked

[2016-05-03 19:08] aleperno commented on #13
@alepacheco
First of all bear in mind this isn't intended to be an exploit app, but rather a open source PoC.
Having said this, the last tests I performed did work though they weren't extensive. IG may be blocking multiple attemps, to prevent this I've done small proxy implementation (see branch https://github.com/chinoogawa/instaBrute/tree/feature/proxy-support ).

Scaling this code shouldn't be

[2016-05-04 17:00] Coto16 commented on #13
It's good to hear that you've implanted a proxy feature to the script, but how do you use it?

[2016-05-09 11:49] testtoolspy opened #14 "eror in run tools"
hello
i run tools and se erro :100:

File "C:\Users\\Downloads\instaBrute-master\instaBrute-master\instaBrute.py", line 2, in <module>
    from mainLib import *
  File "C:\Users\\Downloads\instaBrute-master\instaBrute-master\mainLib.py", line 1, in <module>

[2016-05-09 18:36] aleperno commented on #14
Could you please attach the full error trace?

[2016-05-11 11:48] testtoolspy commented on #14
![2016-05-11_154654](https://cloud.githubusercontent.com/assets/19265516/15179947/c89904c4-178f-11e6-9854-27f6c94f8acf.png)

attached

[2016-05-11 13:04] Coto16 commented on #14
For windows, it might be "py" instead of "python". So try: py instaBrute.py -f usernames.txt -d dictionary.txt

[2016-05-12 09:19] testtoolspy commented on #14
C:\Users\Administrator\Desktop\in>py instaBrute.py -f usernames.txt -d dictionar
y.txt
'py' is not recognized as an internal or external command,
operable program or batch file.

[2016-05-12 10:38] Coto16 commented on #14
You probably haven't installed Python on your System properly then. Lookup some tutorials on how to do that and come back if you have any more errors.

[2016-05-12 11:54] testtoolspy commented on #14
![2016-05-12_042432](https://cloud.githubusercontent.com/assets/19265516/15213673/d5376570-1859-11e6-8487-0a8593492a4a.png)

windows server..

[2016-05-12 12:08] Coto16 commented on #14
The best guess would be to google it, I really don't use Python on Windows/Windows Server. I use it in Kali Linux, so, I can't help you with that, sorry.

[2016-05-17 06:13] Hazzkm opened #15 "No module named simplejson"
![untitle](https://cloud.githubusercontent.com/assets/19402307/15312806/a92f1d88-1c0f-11e6-952b-3643887d3531.jpg)

[2016-05-17 12:59] Coto16 commented on #15
https://www.google.com/search?q=install%20simplejson&cad=h

[2016-05-18 14:00] aleperno commented on #15
First make sure you have ```pip``` and the necessary packates to install python modules
```apt-get install python-pip python-dev build-essential```
Then you should just
```pip install simplejson```

[2016-05-18 14:00] #15 closed

[2016-05-18 14:03] aleperno commented on #13
Please @Coto16, for any question regarding proxy support open a new issue.
Closing this one.

[2016-05-18 14:03] #13 closed

[2016-05-18 14:06] aleperno commented on #14
@testtoolspy you're missing the module ```mechanize```.
Since I'm not very familiar with python in Windows all I could say is to refer to any search engine of your choice.
Try to install ```pip``` (a python package installer) and then
```pip install mechanize```
The same should apply to any other missing module you could encounter.

[2016-05-18 14:06] #14 closed

[2016-05-18 14:10] Coto16 opened #16 "Proxy Feature?"
Hello, I was wondering how you could use: https://github.com/chinoogawa/instaBrute/tree/feature/proxy-support

[2016-06-03 14:58] aleperno commented on #16
### The throughout explanation
In the example available you should have a TOR running which will be used as a proxy.
A positional parameter has been added to the script, therefore to enable the proxy within the script ```-p``` or ```--proxy``` should in the arguments when called.

Selenium webdriver has the options to set proxy settings. To store the settings I used a ```yaml``` configuration file

[2016-06-28 04:17] dmorrison2k opened #17 "line 19, print 'user: "%s" does not exist, trying with the next!' %username ^ SyntaxError: Missing parentheses in call to 'print'"
I'm having this error:

Microsoft Windows [Version 10.0.10586]
(c) 2015 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32> python instaBrute.py -f usernames.txt -d dictionary.txt
python: can't open file 'instaBrute.py': [Errno 2] No such file or directory

C:\WINDOWS\system32>instaBrute -h
'instaBrute' is not recognized as an internal or external command,
operable program or batch f

[2016-06-28 07:26] Coto16 commented on #17
Try replacing line 19 with: 		print 'user: ' +user+ ' does not exist, trying with the next!'

[2016-06-28 12:40] aleperno commented on #17
You are using Python 3 while this code is for Python 2.7

[2016-06-28 12:40] #17 closed

[2016-06-28 14:28] dmorrison2k commented on #17
Thanks everyone. Will send some feedback today.

[2016-07-28 00:43] zylerdev opened #18 "Is this project still alive?"
only just found out about this, and im quite interested in it.

I installed in the modules etc.. however when I test the dictionary attack, it seems just to sit there idle not doing anything on the "Using 1 seconds of delay"

![image](https://cloud.githubusercontent.com/assets/16195172/17197426/8f56f3f8-5464-11e6-9385-3e14b5616fc4.png)

it sits here and i have waited for a while.
and if this proje

[2016-07-28 12:48] aleperno commented on #18
Hmm...I can thinkg of multiple answers to your questions.
What does a dead project mean?
If you mean that those who contributed to its code now aren't, well...at least we could say it's stalled. We are both currently under heavy load with labor and personal issues; though there are some new features and improvemets we want to add (and hopefully do so).

Regarding why the script idles, I should che

[2016-07-28 14:50] zylerdev commented on #18
@aleperno thankyou for the response, and yes thats what I meant by a dead project.
I didn't know you guys were so busy and under heavy load so that explains the inactivity on this, once again thanks for taking a look at my post. I'm not very experienced with Python, however I might take a look at what I can do and see if I can get some cool features from this current build.

ps; I haven't seen the

[2016-07-31 01:38] handsomepigeon opened #19 "Is there a way to disable the delay?"
I'm not good with python soo yeah could you tell me if I could delete some code to stop it or release one without the delay?

[2016-07-31 21:28] aleperno commented on #19
Yes, add `--time 0` to the call arguments

[2016-07-31 21:28] #19 closed

[2016-08-04 14:44] djscoobyg2 opened #20 "Crash"
When I start the command, all it does is crash firefox, then gives me this error code.

http://prntscr.com/c1kka2

[2016-08-04 15:13] aleperno commented on #20
Please attach your selenium package version and Firefox Browser version.

[2016-08-04 15:35] djscoobyg2 commented on #20
I just installed selenium with cmd and firefox 48

[2016-08-04 15:46] djscoobyg2 commented on #20
@aleperno

[2016-08-04 20:02] djscoobyg2 commented on #20
any fix anyone?

[2016-08-04 21:36] Chandler255 commented on #20
Try reinstalling selenium.

[2016-08-05 09:31] djscoobyg2 commented on #20
I have done @Chandler255, it still didnt work, is there anything else i need to install

[2016-08-05 09:38] djscoobyg2 commented on #20
I have installed, optparse. mechanize, cookielib, simplejson, selenium

[2016-08-05 12:26] aleperno commented on #20
@djscoobyg2 Please attach your Selenium version, there are known issues with given combinations of selenium version & firefox versions.
To check its version run: ```python -c "import selenium; print selenium.__version__"```

[2016-08-05 13:16] djscoobyg2 commented on #20
2.53.6

[2016-08-05 13:22] #18 closed

[2016-08-05 13:27] aleperno commented on #20
I'll check and get back at you later @djscoobyg2

[2016-08-05 15:13] djscoobyg2 commented on #20
I'm going to move over to a VM on kali linux to stop all the hassle, thanks for your help anyway @aleperno , if you do find a solution, please let me know,

Thanks.

[2016-08-05 17:02] Chandler255 commented on #20
I went and updated Firefox and the driver never requested instagram.com, seems something is having a problem with it. I went ahead and rewrote it using the ChromeDriver and it works perfect through Chrome, see if that fixes it @djscoobyg2 .
[instaBrute.zip](https://github.com/chinoogawa/instaBrute/files/404247/instaBrute.zip)

[2016-08-05 18:44] djscoobyg2 commented on #20
It didnt seem to work, do i have to install anything

[2016-08-05 18:46] djscoobyg2 commented on #20
`Traceback (most recent call last):
  File "instabrute.py", line 15, in <module>
    profile = webdriver.Chrome(chromedriver)
  File "C:\Python27\lib\site-packages\selenium\webdriver\chrome\webdriver.py", line 62, in __init__
    self.service.start()
  File "C:\Python27\lib\site-packages\selenium\webdriver\common\service.py", line 64, in start
    stdout=self.log_file, stderr=self.log_file)
  File

[2016-08-05 18:52] Chandler255 commented on #20
My bad, I use Mac which made me accidentally send the Mac chromedriver. I replaced it for you and made it an executable. @djscoobyg2
[instaBrute.zip](https://github.com/chinoogawa/instaBrute/files/404415/instaBrute.zip)

[2016-08-05 18:55] djscoobyg2 commented on #20
http://prntscr.com/c22vxf @Chandler255

[2016-08-06 17:15] rezasri opened #22 "how to use proxy"
hi , instagram will block IP after a few fail attempt , so please tell me how to use proxy to brute force instagram account

thanks

-RezaFeelles

[2016-08-08 13:44] aleperno commented on #22
Hi, please refer to #16

[2016-08-08 13:44] #22 closed

[2016-08-20 10:01] karembino commented on #20
I am having an issue too , I am using windows 7 and python 2.7.3 , simplejson v.3.8.2 for win32 , selenium v.2.49.0  , mechanize v.0.2.5 ,and I used the instaBrute windows version and chrome driver and my chrome version is 52 and when I run the instaBrute.py   this error appears as in the screenshot
![untitled2](https://cloud.githubusercontent.com/assets/21139912/17830500/d4336ed6-66cd-11e6-9c14-1

[2016-08-20 10:16] karembino commented on #20
And when I run instaBrute with the Mozilla driver it seems like @Chandler255 said the driver doesn't request instagram.com so what if I installed an older version of firefox would it work perfectly and if it does which version do you prefer or which version of Firefox worked perfectly with you . this is a screenshot when I used instaBrute running Firefox.
![untitled3](https://cloud.githubuserconte

[2016-08-28 22:40] uknowyosa opened #23 "Webdriver Problem"
can anyone fix this problem? im stucking in this :( thank u
![capture](https://cloud.githubusercontent.com/assets/21298042/18037321/1ed3e838-6dab-11e6-8ba2-c26b2d05acdd.PNG)

[2016-08-30 13:58] djscoobyg2 commented on #23
By the looks of it you need to have the exact version of selenium which is
3.0.0b2
and python 2.7

On Sun, Aug 28, 2016 at 11:40 PM, uknowyosa <notifications@github.com>
wrote:

[2016-09-02 19:56] moain commented on #23
I have this error too. i use selenium 3.0.0b2 and python 2.7.12 firefox 48
someone help me i need to fix it

[2016-09-04 18:15] ItsMas commented on #23
Also having this error, I have selenium 3.0.0b2 and Firefox 48.0.2

[2016-09-04 20:40] djscoobyg2 commented on #23
Guys, its just easier to get a VM of any linux and install it there.

On Sun, Sep 4, 2016 at 7:15 PM, ItsMas <notifications@github.com> wrote:

[2016-09-05 19:48] ItsMas commented on #23
Went through the hassle of setting up a Linux VM and got the same error ;-;

[2016-09-06 05:37] uknowyosa commented on #23
solved, 3.0.0b2 is compatible with firefox 45, i try this and sucessfully worked

[2016-09-06 05:37] #23 closed

[2016-09-06 14:37] ItsMas commented on #23
Unfixed ^-^ Still get the same error with Firefox 45.0

[2016-09-06 15:39] ItsMas commented on #23
Still not working for me, using seleniun 3.0.0b2, firefox 45.0

[2016-09-11 08:05] farzadshami opened #24 "line 19 crash"
File "instaBrute.py", line 19
    print 'user: "%s" does not exist, trying with the next!' %username
                                                           ^
SyntaxError: Missing parentheses in call to 'print'

[2016-09-11 11:48] farzadshami commented on #24
because using Python 3.5

[2016-09-11 11:48] #24 closed

[2016-09-11 17:42] georgeuntitled opened #25 "Firefox: about:blank&utm_content=firstrun"
I've been trying to run InstaBrute but I've got always this issue.

When I run the script and Firefox opens, this page (about:blank&utm_content=firstrun) shows up and nothing happens.

I tried everything, removed Firefox and installed other Selenium versions but nothing changes, always the same problem. Right now I'm using Firefox 47.0.1 (X64) and Selenium 2.53.1 (ppl say it's compatible).

Also I

[2016-09-11 22:24] Carlito007 commented on #25
me too

[2016-09-11 22:33] Carlito007 opened #26 "README.md"
May you add some installation steps?
How to install all the dependencies list?
And what version of python to use ?
In shortly help us make this bruteforcer working....

Thank you very much :)

[2016-09-12 15:15] aleperno commented on #26
The required Python version for now its any 2.7 though any Python 2 version should work.
The readme shows which libs the script use, however I'll add a `requirements.txt` to use with pip.

[2016-09-12 15:18] aleperno commented on #25
I'll check on it as soon as I can.

[2016-09-12 15:21] aleperno commented on #20
I'll pinn the script to specific lib versions to avoid newer versions to break the script.
This will be done as soon as possible.

[2016-09-20 06:31] nick7998 opened #27 "STOPPED AT BLANK firefox page"
I installed instabrute ,while running it after it shows "using 1 seconds of delay"
it did open a blank page on firefox ,then nothing
few seconds latter it shows
Traceback (most recent call last):
File "C:\Users\User\Desktop\instaBrute-master\instaBrute.py", line 142, in <mo
dule>
main()
File "C:\Users\User\Desktop\instaBrute-master\instaBrute.py", line 132, in mai
n
driver = webdriver.Firefox(prof

[2016-10-01 10:13] Coto16 commented on #27
Open instaBrute.py using Notepad++ or a similar text editor.

Go to line 132 and remove "profile", so it should be: driver = webdriver.Firefox()

Do the same with line 136.

Run the script normally.

[2016-10-08 08:34] Exaxors opened #28 "blank page"
so i installed anything but while running it after it shows "using 1 seconds of delay"
it did open a blank page on firefox ,then nothing happened anymore. i tried to reinstall firefox and selenium but nothing helped

[2016-10-14 04:53] Deyelk opened #29 "i might be doing somthing stupid so please help i think this my be only on kali also im new so go easy on me"
Traceback (most recent call last):
  File "instaBrute.py", line 4, in <module>
    from selenium import webdriver
ImportError: No module named selenium

[2016-10-18 18:33] mastershaig commented on #28
same issue

[2016-10-20 20:32] knat217 commented on #27
try using firefox 45.0 with selenium-2.53.1

[2016-10-26 03:27] damageddomain opened #30 "help i am getting this error code when running instabrute.py"
Using 1 seconds of delay
Traceback (most recent call last):
  File "instaBrute.py", line 142, in <module>
    main()
  File "instaBrute.py", line 132, in main
    driver = webdriver.Firefox(profile)
  File "/usr/local/lib/python2.7/dist-packages/selenium/webdriver/firefox/webdriver.py", line 135, in __init__
    self.service.start()
  File "/usr/local/lib/python2.7/dist-packages/selenium/webdriver

[2016-11-12 15:00] ecwebservices commented on #30
I am getting same code. Are you using Ubuntu?

[2016-11-12 15:03] ecwebservices commented on #29
You have to get Selenium.

`pip install selenium`

This should help.

[2016-11-14 05:16] Deyelk opened #31 "almost"
Using 1 seconds of delay
Traceback (most recent call last):
  File "instaBrute.py", line 142, in <module>
    main()
  File "instaBrute.py", line 136, in main
    driver = webdriver.Firefox(profile)
  File "/usr/local/lib/python2.7/dist-packages/selenium/webdriver/firefox/webdriver.py", line 135, in __init__
    self.service.start()
  File "/usr/local/lib/python2.7/dist-packages/selenium/webdriver

[2016-11-14 05:16] Deyelk commented on #30
same code and im on kali

[2016-11-14 05:17] Deyelk commented on #30
wheres the dev

[2016-11-14 06:19] Karim47 commented on #30
I'm getting the same error bro,
On Nov 12, 2016 6:00 PM, "Elijah Cruz" <notifications@github.com> wrote:

[2016-11-14 17:55] ecwebservices commented on #30
I'm on ubuntu 14.04 not kali.

[2016-11-14 17:59] Karim47 commented on #30
I'm using Kali
On Nov 14, 2016 8:55 PM, "Elijah Cruz" <notifications@github.com> wrote:

[2016-11-14 18:01] ecwebservices commented on #30
Where @chinoogawa aka the dev? We need him most likely unless anyone knows what he's doing in the code REALLY WELL.

[2016-11-14 18:03] ecwebservices commented on #31
The same problem is trying to be figured out on #30

[2016-11-14 18:05] ecwebservices commented on #30
The problem seems to also happen at [This Repo](https://github.com/mozilla/geckodriver/issues/90) after looking at the errors is part of it. I'm going to look into it.

[2016-11-14 23:03] ecwebservices commented on #30
So before I fully begin, does anyone else here also know python, or are you all just guessing.

[2016-11-16 01:04] Deyelk commented on #30
guessing tbh

[2016-11-16 14:00] ecwebservices commented on #30
Ok well I'll look at the other repo to see if I can find an answer.

[2016-11-24 22:39] XizoYT commented on #30
I believe this error has something to do with GeckoDriver not being in the right path or not installed at all. I'm working on a solution atm.

[2016-11-28 18:00] ecwebservices commented on #30
Sounds good. If you need help, I'd be happy to contribute.

[2016-12-01 16:40] susits commented on #30
I am using Windows 8.1 and getting the excactly same message. Looking forward to @XizoYT 's research to be ready...

[2016-12-09 00:25] sshkrv commented on #30
how about

[2016-12-09 00:25] sshkrv commented on #30
how about this:

1.Download geckodriver
2.Copy geckodriver in /usr/local/bin

[2016-12-11 18:42] ShockvaWe commented on #30
i got same problem too (Linux Mint 18)

[2016-12-11 18:49] ShockvaWe commented on #30
Got this error on windows 10 : Traceback (most recent call last):
  File "instaBrute.py", line 142, in <module>
    main()
  File "instaBrute.py", line 136, in main
    driver = webdriver.Firefox(profile)
  File "C:\Python27\lib\site-packages\selenium\webdriver\firefox\webdriver.py", line 140, in __init__
    self.service.start()
  File "C:\Python27\lib\site-packages\selenium\webdriver\common\serv

[2016-12-11 18:52] ShockvaWe commented on #30
And got this after installing geckodriver => selenium.common.exceptions.WebDriverException: Message: Expected browser binary location, but unable to find binary in default location, no 'moz:firefoxOptions.binary' capability provided, and no binary flag set on the command line

[2016-12-11 18:54] sshkrv commented on #30
Install mozilla firefox

[2016-12-11 19:28] ShockvaWe commented on #30
Mozilla Firefox is already installed , i changed code like this : `#!/bin/python
from mainLib import *
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
#import simplejson as json
import sys
import optparse
from selenium import webdriver
from selenium.webdriver.firefox.firefox_binary import FirefoxBinary

binary = FirefoxBinary('C:\Program Files

[2016-12-11 19:30] ShockvaWe commented on #30
i changed code like this : https://ghostbin.com/paste/h3eb6
and it still gives this error : selenium.common.exceptions.WebDriverException: Message: Failed to start browser:
entity not found

Firefox is installed alreadyim not stupid.
İm done with this s*** , i waste at least 2.5 hours..

[2016-12-13 01:14] Deyelk commented on #30
its working for me brute after a while it gives a lockout that needs work

[2016-12-26 13:54] johndaglas commented on #29
I installed selenium (sudo pip install selenium),when i type pip install selenium its say already satisfied and when i type python instaBrute.py -f usernames.txt -d dictionary.txt i get the error ImportError: No module named selenium

What i need to do to FIX this?

[2016-12-28 17:04] aleperno commented on #29
Please paste the full output of `pip freeze` and the traceback of the error after running `python instaBrute.py`

[2017-01-05 20:12] afuae opened #33 "Blank Page FireFox"
**hi guys
i have problem with instaBrute that when i type
instaBrute.py -f usernames.txt -d dictionary.txt**
**it shows me this after a while waiting in blank page firefox:**

Using 1 seconds of delay
Traceback (most recent call last):
  File "C:\Users\IDEAPAD 700\Desktop\New folder\instaBrute-master\instaBrute.py", line 142, in <module>
    main()
  File "C:\Users\IDEAPAD 700\Desktop\New folder\i

[2017-01-08 18:57] bd0r commented on #20
I have the same Error
![untitled](https://cloud.githubusercontent.com/assets/23739528/21752650/5e504718-d5ed-11e6-9bd7-732a02bc0f9a.jpg)

[2017-01-09 09:44] bd0r commented on #20
Solved , just install older Firefox version ...

[2017-01-26 17:09] ddev1234 opened #34 "Stuck at instaBrute.py -f usernames.txt -d dictionary.txt"
when i run this command it shows delay for 1 second and them says that the file location cannot be found.. help meh im a noob at this :3

[2017-01-26 17:39] ddev1234 commented on #27
@Coto16 when u do that this happens..

C:\Users\User\Desktop\instabrute\instaBrute-master>instaBrute.py -f usernames.tx
t -d dictionary.txt
Using 1 seconds of delay
Traceback (most recent call last):
  File "C:\Users\User\Desktop\instabrute\instaBrute-master\instaBrute.py", line
141, in <module>
    main()
  File "C:\Users\User\Desktop\instabrute\instaBrute-master\instaBrute.py", line
132, in main

[2017-02-26 03:37] ghostty8 opened #35 "Opens a blank firefox page"
it says using 1 seconds of delay and then opens a blank firefox and it just stays there

any help??

[2017-03-18 05:13] mrread opened #36 "not respon script"
![screenshot from 2017-03-18 11-12-42](https://cloud.githubusercontent.com/assets/26343500/24069176/2e4981a2-0bd4-11e7-8e11-e8baf0939a67.png)

Traceback (most recent call last):
  File "instaBrute.py", line 6, in <module>
    from selenium import webdriver
ImportError: No module named selenium

[2017-03-25 17:58] patriksjalkds opened #37 "cant setup"
would you please make a tutorial how to install al the stuff? i am not good with python and shit....

[2017-06-16 19:16] mxkxx commented on #36
apt-get install pip
pip install selenium
:D

[2017-06-30 15:47] Yesssaag commented on #34
Ok so first make sure you are in the directory instabrutemaster then make sure you have 2 text documents there usernames and dictionary

[2017-06-30 15:48] Yesssaag opened #38 "Cannot connect?"
Using 1 seconds of delay
Traceback (most recent call last):
  File "C:\Users\iamye\Desktop\Ig hack\instaBrute-master\instaBrute.py", line 142, in <module>
    main()
  File "C:\Users\iamye\Desktop\Ig hack\instaBrute-master\instaBrute.py", line 132, in main
    driver = webdriver.Firefox(profile)
  File "C:\Python27\lib\site-packages\selenium\webdriver\firefox\webdriver.py", line 80, in __init__

[2017-07-08 19:30] Arber123222 commented on #34
hey guys it gets stuck at using 1 seconds of delay what should i do

[2017-07-14 18:58] Yesssaag commented on #30
you need the webdriver in selenium but i'm not gonna explain that cause i'm too lazy

[2017-07-17 02:58] #38 closed

[2017-07-20 15:56] jordan6522 commented on #28
I am having the same issue, did you ever come up with a solution? Thanks

[2017-07-20 16:08] jordan6522 commented on #35
I am having the same issue, have you come up with a solution yet?

Thanks.

[2017-07-20 16:51] jordan6522 commented on #33
Have you found a solution? I am having the same issue.
Thanks.

[2017-07-20 16:56] jordan6522 commented on #25
Has this issue been solved? Im getting the same thing.
Thanks

[2017-07-24 11:12] andrianohno commented on #37
just install requirement.txt, and the content is

Mechanize==0.2.5
Selenium==2.53.6
CookieJar==0.0.1
Simplejson==3.8.1
optparse-pretty==0.1.1

[2017-07-29 18:53] Yesssaag opened #39 "This tool is completely unusuable"
Isn't this tool basically pointless. When you go to the instagram login page it says "there was a problem logging you in please try again later" after about 10 tries. And I've tried using the version with proxy support and tor, it still does not work.

So can someone find a way to bypass this

[2017-07-29 18:54] Yesssaag commented on #37
also google geckodriver and click on the first link and download geckodriver, then put geckodriver into your instabrute folder

[2017-07-29 18:54] 0xCoto commented on #39
Oh my God. When will people realize this has been patched months ago?

[2017-07-29 18:57] Yesssaag commented on #39
if this tool has been patched then someone delete this project from github its a waste of space/time

[2017-07-29 19:14] 0xCoto commented on #39
You clearly do not know what Github is used for.

[2017-07-29 21:14] Yesssaag commented on #39
It's purpose is to share code/improve it but why share unusuble code that can't be improved?

[2017-07-29 22:00] 0xCoto commented on #39
The code can not be used solely for instagram.

[2017-07-29 23:19] chinoogawa commented on #39
I agree with @0xCoto. The tool can be reused for other purposes.
If you check FBHT you realize that part of instabrute it's inspired on fbht's code.
If I get a way to bypass the instagram login again, I'll let you know ;)

[2017-07-29 23:19] #39 closed

[2017-07-31 02:45] aleperno commented on #39
@Yesssaag For future reference keep in mind people would be far more willing to solve your inquires if you change your wording a bit or include a 'please' / 'thanks'.

Is this script outdated? Yeah, no doubt.
Is it useless? Not quite, It may not be doing what It claims it does (and at some point did), BUT it source being open may be useful for others seeking for a starting point.
You can download

[2017-08-29 01:29] xCalifier opened #40 "Process gets killed"
After feeding a wordlist of 2gb it had frozen my linux. I have 4gb of ram, have someone ported it to use buffered reader or something else to work with large lists.

[2017-09-13 05:35] DauQB commented on #25
That a issue caused by the Firefox version conflict. I was able to resolve it by doing below

1: Delete the Firefox folder in program files / Uninstall current Firefox version
2. Re-install Firefox (Probably an old stable version, I tried 40)

[2017-09-29 10:39] deathsec commented on #29
I think using a headless browser is very heavy and can hurt a lot for the system when it is brute force , using mechanize with it is a very bad idea.. , See my project it mimics the instagram apk and uses less resource and much elegant! , it uses tor server to jump from location to location , it does that elegantly though!...

https://github.com/DeathSec/Instagram-Py

[2017-10-01 04:31] Bunn-E opened #41 "Trash"
Using 1 seconds of delay
Traceback (most recent call last):
  File "instaBrute.py", line 142, in <module>
    main()
  File "instaBrute.py", line 132, in main
    driver = webdriver.Firefox(profile)
  File "/home/tyran/.local/lib/python2.7/site-packages/selenium/webdriver/firefox/webdriver.py", line 144, in __init__
    self.service.start()
  File "/home/tyran/.local/lib/python2.7/site-packages/se

[2017-11-19 08:28] deathsec commented on #41
@Bunn-E you could try my script its well **documented and engineered** , Started as **Proof-Of-Concept** but now well polished!
https://github.com/DeathSec/Instagram-Py
![Preview Instagram-Py](https://raw.githubusercontent.com/deathsec/instagram-py/v2.x.x/preview.gif)

[2017-11-19 08:29] deathsec commented on #41
Does not use a web browser it only requires Tor server up and configured , it also has custom attack scripts!

[2017-11-19 08:32] deathsec commented on #40
@xCalifier  you could try my script its well **documented and engineered** , Started as **Proof-Of-
Concept** but now well polished!

**it can handle large sized wordlist and lot of other awesome stuff too..**

it does not use a browser , it just needs tor server up and configured
for more information head to my repo

https://github.com/DeathSec/Instagram-Py
![Preview Instagram-Py](https://raw.git

[2017-12-18 16:27] antony-jr commented on #34
@ddev1234 @Arber123222 You could try my script which is much elegant and does not get stuck , it does not use a browser but instead mimics the instagram android apk , Try it at https://github.com/antony-jr/instagram-py ,This repo is the official one.

[2017-12-18 16:30] antony-jr commented on #31
@Deyelk  @elijahcruz12 You could try my script which is much elegant and does not get stuck , it does not use a browser but instead mimics the instagram android apk , Try it at https://github.com/antony-jr/instagram-py ,This repo is the official one.

[2018-02-28 01:15] russellpeiris opened #43 "Unable to create process using '/bin/python "C:\Users\Russell Peiris\Desktop\New folder\instaBrute-master\instaBrute.py" -f usernames.txt -d dictionary.txt'"
When i run this command" instaBrute.py -f usernames.txt -d dictionary.txt" i get this issue" Unable to create process using '/bin/python "C:\Users\Russell Peiris\Desktop\New folder\instaBrute-master\instaBrute.py"  -f usernames.txt -d dictionary.txt'' please help me to solve this.

[2018-03-05 02:01] MrCrovv opened #44 "Thinks the first password is correct (when its wrong) and closes firefox"
So, i installed all and it works, but when i give it any list of passwords, it always thinks that the first one is the correct so it prints the Access granted mother kaker!! text and closes the Firefox page.
Any ideas on how to fix it or why does it happens?

[2018-05-04 19:32] ColeShelly opened #45 "Help Please."
Using 1 seconds of delay
Traceback (most recent call last):
  File "instaBrute.py", line 142, in <module>
    main()
  File "instaBrute.py", line 132, in main
    driver = webdriver.Firefox(profile)
  File "/usr/local/lib/python2.7/dist-packages/selenium/webdriver/firefox/webdriver.py", line 152, in __init__
    self.service.start()
  File "/usr/local/lib/python2.7/dist-packages/selenium/webdriver

[2018-05-23 02:30] HuhMe9 opened #46 "Bug Report on win10"
C:\Users\HP\Desktop\instaBrute-master>python instaBrute.py -h
  File "instaBrute.py", line 19
    print 'user: "%s" does not exist, trying with the next!' %username
                                                           ^
SyntaxError: Missing parentheses in call to 'print'. Did you mean print('user: "%s" does not exist, trying with the next!' %username)?

[2018-09-07 16:34] farzad1067 opened #47 "hello i have a problem in kali2"
Using 1 seconds of delayTraceback (most recent call last):File "instaBrute.py", line 142, in <module>main()File "instaBrute.py", line 136, in maindriver = webdriver.Firefox(profile)File "/usr/lib/python2.7/dist-packages/selenium/webdriver/firefox/webdriver.py", line 158, in __init__keep_alive=True)File "/usr/lib/python2.7/dist-packages/selenium/webdriver/remote/webdriver.py", line 154, in __init__

[2018-10-04 16:41] Fokku opened #48 "doesn't show the found password"
I tried putting the password into a small password list and let it run through my password, it ended up just continuing after attempting the correct password and stopped after the last password on the list was attempted. After like 30 seconds it would start giving error messages; "./insta.sh: line 147: wait: pid 5101 is not a child of this shell".

[2019-10-27 06:36] ghost opened #51 "Not getting dictionary script for insta brute."
Can any please help me. I want dictionary script for insta brute for hacking user

[2020-01-25 03:47] yffhjj opened #52 "_3s4j"
@chinoogawa
[_3s4j](12345656)

[2020-01-25 03:48] #52 closed, assigned to nobody

[2020-08-16 17:51] jnash10 commented on #51
Could you explain your problem better?

[2020-08-22 02:31] zanji-svg opened #53 "Not work"

[2020-08-31 10:49] goku-blac opened #54 "could not download instashell"

[2020-10-27 06:55] parthsanghavi184 opened #55 "python: can't open file 'instaBrute.py': [Errno 2] No such file or directory"
@chinoogawa
@aleperno @wstierhout
i don't know what to enter in word list input please guide me through the steps , and when i enter any input this error of no such file or directory occurs

[2020-10-27 21:48] elijahcruz12 commented on #55
Because this package hasn't been updated in over a year, and Because since about 2018 it's had some major problems, it's safe to say this is abandonware. This won't work as well especially due to the fact that with latest changes to Instagram it most likely won't work correctly

[2020-10-27 21:49] elijahcruz12 commented on #55
Also, please don't close and reopen issues quickly, as it just causes spamming of the issue and does not help it's cause as much.

[2022-01-16 16:23] Rashid7520 opened #56 "getting error"
I don't know why but i am getting some errors

[2022-01-26 23:21] yagojohnny-design opened #57 "mechanize error"
hello everyone,
i has this it erro, look

Traceback (most recent call last):
  File "instaBrute.py", line 2, in <module>
    from mainLib import *
  File "/home/hackingtool/instaBrute/instaBrute/mainLib.py", line 1, in <module>
    import mechanize
ImportError: No module named mechanize

who can help me?

[2022-02-11 14:29] eternalodball opened #58 "Archive it"
Isn't it like 90's project either update or archive you are
wasting other's time

[2022-03-30 16:25] jimmyxan commented on #57
i got the same error... how can we solve?

[2022-04-04 08:28] soham12246 commented on #55
you are in the wrong dir

[2022-07-13 03:28] Onurzturk opened #59 "Onurzturk"

[2022-07-19 01:16] Timmy70 opened #60 "Hello"
I need your help and will pay after that

[2022-09-18 13:15] luca-piccinin opened #61 "I have a problem with the print"
I have a problem with the print:
File "/home/kali/instaBrute/instaBrute.py", line 20
    print 'user: "%s" does not exist, trying with the next!' %username
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)?

[2022-09-29 13:41] svistiik commented on #61
if you need to hack ig account dm seve.services on ig

[2022-09-29 13:41] svistiik commented on #60
dm seve.services on ig

[2022-10-01 20:26] riso38 opened #62 "Insagram Hacking"
Write seve.services on isnstagram for IG hacking

[2022-10-21 18:35] YoMama84 opened #63 "fork"
wahoo